.Footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.FooterContent {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.FooterContent > *:not(:last-child) {
    margin-right: 150px;
}



.FooterLayer1 {
    border-bottom: #ddd solid 1px;
    height: 3rem;
    text-align: center;
    padding-top: 15px;
    white-space: nowrap;
}

.layerWrap {
    width: 800px;
    padding-left: 5%;
    margin-right: 10%;

}

.FooterLink {
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}

.FooterLink > li {
    border-left: 2px solid; 
    padding-left: 3%;
}

.LayerDivWrap {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.FooterLayer3 {
    border-bottom: #ddd solid 1px;
    height: 34px;
    text-align: center;
    padding-top: 15px;
    white-space: nowrap;
}

.FooterContent > address {
    font-style: normal;
    font-weight: normal;
    text-align: left;
    font-size: 12px;
    margin-top : 10px;
    line-height: 1.25rem;
}

.leftContent {
    height:3rem;
    line-height: 1.27rem;
    font-weight:700;
}

.leftContent > p {
    font-size: 12px;
}

.labelList {
    position: relative;
}

.labelList .label {
    z-index: 999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 3rem;
    border: 3px solid #717171;
    line-height: 2.5rem;
    display: block;
    position: relative; 
    padding: 0 1rem 0rem 1rem;
    border-radius: 5rem;    
    letter-spacing: -0.05rem;
    transition: all 0.2s;
}

.list > ul {
    width: 172.28px;
    /* margin: 0 auto; */
    position: absolute;
    top: 5%;
    /* justify-content: ; */
}

.labelList .list {
    visibility: hidden;
    overflow: hidden;
    /* top: -300%; */
    width: 172.28px;
    /* height: 0 auto; */
    opacity: 1;
    position: absolute;
    left: auto;
    bottom: 100%;
    /* min-width: 100%; */
    /* margin-bottom: 30%; */
    padding: 4rem 0;
    border-radius: 2rem;
    border: 1px solid #b3b3b3;
    background-color: #b3b3b3;
    transition: all 0.2s;
    z-index: 9999;
}

.labelList .list a {
    display: block;
    width: auto;
    height: auto;
    font-size: 12px;
    margin-right: 25%;
    line-height: 1.4rem;
    margin-bottom: 5%;
    text-align: center;
    opacity: 0.9;
    transition: all 0.2s;
    background-color: antiquewhite;
    border-color: antiquewhite;
    border: 1px dotted;
    border-radius: 3rem;
}
x
.labelList .list a:hover,
.labelList .list a:focus {
    color: #535353;
}

.labelList .label.active::after {
    transform: translateY(-50%) rotate(180deg);
}

.labelList .list.active {
    visibility: visible;
    overflow: visible;
    width: 172.28px;
    height: auto;
    opacity: 0.855;
    bottom: calc(100% + 1rem);
    /* padding: 2rem; */
}