/* 마이페이지 -------------------------------- */
.my-header {
  width: 1500px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  background-image: url("../../public/background_img/back3.jpg");
  background-size: 1502px;
  background-repeat: no-repeat;
  background-position: 20% 210%;
  position: relative;
  transform: translateX(-16%);
  z-index: 2;
  border-radius: 40px;
}

.my-form__title {
  padding-bottom: 60px;
  width: 300px;
  margin: auto;
}

.my-form__text {
  font-size: 30px;
  font-weight: 1000;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 5px solid rgb(83, 212, 92);
}

.my-btn__button {
  border:none;
  background-color: transparent;
  /* padding: 10px; */
  /* margin-bottom: 20px; */
  font-size: 20px;
  font-weight: 100;
  font-style: normal;
  color: rgb(48, 48, 48);
}

.my-btn__button.active {
  /* border-bottom: 5px solid rgb(83, 212, 92); */
  font-weight: 1000;
}

/* .my-btn:focus {
    outline: none;
  }
  
  .my-btn.active {
    background-color: #333;
    color: #fff;
  }
   */

.my-page__wrapper { 
  display: flex; 
  margin-top: 80px;
  margin-bottom: 190px; /* 푸터위치 수정용 */
}

.my-page__btn >ul{
  width: 150px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.my-page__btn >ul>li{
  width: 130px; 
  height: 33.5px; 
  /* border-bottom: solid 1px rgb(181, 181, 181); */
}

.my-page-forms {
  width: 300px;
  height: 150px;
}

/* 프로필 -------------------------------- */
.profile-form{width: 100%; padding-left: 30px;}

.profile-form__wrapper {
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 세로 중앙 정렬 */
  /* justify-content: center; */
  /* 가로 중앙 정렬 */
  /* flex-direction: column;  */
  /* 아이템들을 세로 방향으로 정렬 */
}

.profile-form__img { display: flex; flex-direction: column;   padding: 30px 30px;}
.profile-form__img > img{  width: 150px; height: 200px; border-radius: 10%; margin-bottom: 17px; object-fit: cover;}

.profile-wrapper__btn{display: flex; justify-content: center;}

.profile__btn {
  background-color: rgb(95, 95, 95);
  font-size: 14px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: white;
}

.profile-content {
  align-items: end;
  padding: 30px 30px;
  flex-grow: 1;
}

.profile-content__detail {
  width: 100%;
  height: 250px;
  line-height: 30px;
  border-top: solid 3px rgb(0, 0, 0);
  border-bottom: solid 1px rgb(196, 196, 196);
}

.profile-content__detail td {
  padding: 13px 15px 12px 15px;
}

.profile-content__detail tr {
  border-bottom: dotted 1px rgb(196, 196, 196);
}

.profile-name-wrapper {
  line-height: 60px;
  text-align: center;
  padding-bottom: 10px;
}

.profile-content__detail td:first-child {
  width: 120px;
  font-weight: 700;
}

.profile__username {
  font-size: 40px;
  font-weight: 1000;
  color: rgb(86, 186, 93);
}

.profile__sir {font-weight: 600; font-size: 24px; padding-left: 10px;}

/* 정보수정 -------------------------------- */
.edit-form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.edit-form > table {
  width: 150px;
  justify-content: center;
}

.edit-form__content td {
  padding: 8px;
  /* padding: 13px 15px 12px 15px; */
}

.edit-form__content tr {
  border-bottom: solid 1px rgb(196, 196, 196);
}

.edit-form__input {
font-size: 19px;
width: 330px;
outline: none; /* 선택 상태에서의 기본 테두리 제거 */
border: none; /* 선택 상태에서의 테두리 제거 */
padding: 15px;
box-sizing: border-box;
color: rgb(0, 0, 0);
}

.edit-form label {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.edit-form_content {
  width: 500px;
}

.edit-form_content label {
  text-align: left;
  /* 라벨 텍스트를 좌측으로 정렬 */
  display: block;
  /* 라벨을 블록 레벨 요소로 변경하여 한 줄에 하나씩 표시 */
  margin-bottom: 5px;
  /* 5px; 라벨 간격 조정 */
}

.edit-form__btn {
  width: 110px;
  outline: 0;
  background: #6dc970;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  margin: 15px 0;
}

/* 유효성 안내 문구 */
.edit-form-match__text {
  color: gray;
  font-size: small;
  margin-top: 5px;
  /* text-align: right; */
}

.edit-form__text {
  margin-right: 15px; /* 텍스트와 입력 필드 사이의 간격 */
  width: 100px;
  font-size: 20px;
}

/* 나의활동 -------------------------------- */
.acti-content__list{display: flex; flex-direction: column; align-items: center; width: 100%; margin-bottom: 60px;}
.acti-content__title{display: flex-start; width: 80%;}
.acti-content__title >h2{padding: 10px; font-weight: 1000;}
.acti-content__list p { font-size: 20px; margin-bottom: 15px;}
/* {display: flex; justify-content: start; width: 80%;} */
/* 호환이슈수정* : (justify-content: start; => justify-content: flex-start;) */

/* 폼 테이블 (나의활동/좋아요) ---------------------- */

.form-table-wrapper {padding-top: 20px;}

.acti-content { width: 100%; }

/* 폼 테이블 (활동/좋아요) ---------------------- */
.forms-post,
.acti-comm {
  width: 100%;
}
.like-post__list{
  display: flex;
  flex-direction: column;

}
.my-like__title {
  font-size: 20px;
  text-align: left;
}
.forms-table {
  width: 80%;
  height: 350px;
}

.forms-table thead {
  width: 100%;
  height: 30px;
  /* background-color: #dbdbdb; */
  flex-direction: column;
  border-top: solid 2px rgb(210, 210, 210);
  border-bottom: solid 2px rgb(210, 210, 210);

}
.forms-table tbody {
  
}

.forms-table th {
  padding: 12px 15px;
  background-color: rgb(239, 239, 239);
}

.forms-table td {
  padding: 13px 15px 12px 15px;
  text-align: center;
  font-size: 17px;
  line-height: 2em;
  width: 80%;
}

/* .forms-table tr :hover {
  background-color: #d5d5d5;
} */

.forms-table tr {
  border-bottom: solid 1px #e6e8eb;

}
.my-like-news-list__body tr{
  height: 135px;

}

.forms-table__title {
  text-align: center;
  margin-right: 100px;
}

.forms-table__date {
  text-align: center;
}

.my-like-news-list__img {
  width: 150px;
  height: 110px;
  object-position: center;
}

.forms-table__title, .forms-table__date {color: gray;}

.content__link {
  text-decoration: none;
}

/* 비밀번호 검사 -------------------------------- */
.pass-input {
  width: 300px;
  /* font-family: "Roboto", sans-serif; */
  outline: 0;
  background: #f2f2f2;
  border: 0;
  /* margin: 0 0 15px; */
  /* box-sizing: border-box; */
  padding: 20px;
  font-size: 17px;
  border-radius: 10px;
}

.pass__btn {
  width: 200px;
  /* font-family: "Roboto", sans-serif; */
  /* text-transform: uppercase; */
  outline: 0;
  background: #6dc970;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
}

.pass-form {
  font-size: 20px;
  line-height: 25px;
}
.pass-form > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-page__right {
  flex-grow: 1;
}
/* .like-form{justify-content: center;} */
