/* mypage */
.my-header {
  width: 1500px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  background-image: url('../../public/background_img/back3.jpg');
  background-size: 1502px;
  background-repeat: no-repeat;
  background-position: 20% 210%;
  position: relative;
  transform: translateX(-16%);
  z-index: 2;
  border-radius: 40px;
}

.my-form__title {
  font-size: 20px;
}

.my-btn {
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* 버튼 그룹을 수평으로 중앙 정렬 */
  }

.my-btn__button {
  border:none;
  /* border-bottom: 3px solid rgba(0,0,0,0.2); */
  background-color: transparent;
  padding: 20px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: rgb(40, 40, 40);
}

.my-btn__button.active {
  border-bottom: 3px solid rgb(83, 212, 92);
}

  /* .my-btn:focus {
    outline: none;
  }
  
  .my-btn.active {
    background-color: #333;
    color: #fff;
  }
   */

/* profile form -------------------------------- */
.profile-form__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.my-page-forms {
  width: 300px;
  height: 150px;
}

/* edit form -------------------------------- */
.edit-form__input {
  display: flex;
  justify-content: center;
  height: 100vh; /* 원하는 높이로 설정하세요 */
}

.edit-form__input 
[name="username"],[name="email"]
{
font-family: "Roboto", sans-serif;
outline: 0;
background: transparent; /* 배경색 투명으로 변경 */
border: none; /* 테두리 없애기 */
border-bottom: 1px solid #ccc; /* 하단 실선 적용 */
margin: 0; /* 기존에 있던 margin 삭제 */
padding: 15px; /* 기존 padding 값을 유지 */
box-sizing: border-box;
font-size: 14px;
border-radius: 0; /* 기존에 있던 border-radius 삭제 */
width: 190px; /* 너비 조정은 유지 */
}

.edit-form__input 
[name="phonenumber"],[name="address"],[name="detailedaddress"]
{
font-family: "Roboto", sans-serif;
background: #f2f2f2;
width: 330px;
border: 0;
margin: 0;
padding: 15px;
box-sizing: border-box;
font-size: 14px;
border-radius: 10px;
}

.edit-form_input label {
  text-align: left; /* 라벨 텍스트를 좌측으로 정렬 */
  display: block; /* 라벨을 블록 레벨 요소로 변경하여 한 줄에 하나씩 표시 */
  margin-bottom: 5px; /* 라벨 간격 조정 */
}

.edit-form__btn {
width: 190px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #6dc970;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  margin: 15px 0;
}

/* activity form -------------------------------- */
.acti-post, .acti-comm {
  width: 100%;
  height: 350px;
}

.acti-table thead {
  width: 100%;
  height: 30px;
  background-color: #f2f5f2;;
  flex-direction: column;
}

.acti-table th {
  padding: 12px 15px;
}

.acti-table td {
  padding: 13px 15px 12px 15px;
  /* font-size: 13px; */
  /* line-height: 1.5em; */
}

.acti-table tr {
  border-bottom: solid 1px #e6e8eb;
}