.Pagination {
  list-style: none;
  display:flex;
  margin: 60px auto;
  width: 30%;
}

.PagingButtons {
  margin: 0 auto;
}

.Pagination button {
  padding: 8px 10px;
  margin-right: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  text-decoration: none;
  color: #333;
  background-color: white;
  font-size: 16px;
}

.page-item {
  margin: 0 10px;
  cursor: pointer;
}

.Pagination button.selected {
  background-color: #007bff;
  color: white;
}