.PostListBox{
  width:inherit;
  margin: 50px 0;
}
.CategoryBox {
  width:30%;
  margin: 10px auto;
}
.CategoryBox button{
  border:none;
  border-bottom: 3px solid rgba(0,0,0,0.2);
  background-color: transparent;
  padding: 20px 
}

.CategoryBox button.selected {
  border-bottom: 3px solid rgb(83, 212, 92);
}

.SearchBox {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.SearchBoxExceptButton {
  display: flex;
  height: 35px;
  margin-right: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 20px;
}

.SearchTypeBox, .SearchQueryBox {
  box-sizing: border-box;
  background-color: transparent;
  padding: 5px;
  border: none;
  outline: none;
  
}

.SearchBox button, .WriteButtonBox button {
  width: 60px;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgb(83, 212, 92);
  font-size:12px;
  border-radius: 20px;
  border: none;
  padding: 10px;
  color:white;
}

.PostListBox ul {
  list-style: none;
}

.PostListBox li {
  width: 800px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  font-size: 14px;
  text-decoration: none;
  height: 150px;
}

.PostListBox li:first-child {
  border-top: 1px solid rgba(0,0,0,0.2);
}

.PostListBox li .Thumbnail {
  width: 130px;
  height: 130px;
  margin: 0 20px 0 0;
  background-size: cover;
  background-position: center;
}

.PostListBox li a {
  width: 300px;
  text-align: start;
}

.PostListBox li .Username {
  width: 60px;
  text-align: start;
}

.PostListBox li .View, .Like, .Comment {
  display: flex;
  align-items: center;
  width: 65px;
  text-align: start;
}


.PostListBox li .View span {
  margin: 0 0 0 5px;
}

.PostListBox li .Like span {
  margin: 0 5px 0 5px;
}

.PostListBox li .Comment span {
  margin: 0 0 0 5px;
}

.PostListBox li .Date {
  width: 80px;
}


