.commu-post-detail__title-box {
  margin: 150px 0 10px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.commu-post-detail__title {
  text-align: start;
  line-height: 1.5em;
  color: rgb(83, 212, 92);
  font-weight: 700;
  font-size: 35px;
}

.commu-post-detail__info-box {
  display: flex;
  justify-content: space-between;
  text-align: start;
  margin: 50px 0 10px 0;
}

.commu-post-detail__username-and-date-box {
  display: flex;
  align-items: center;
}

.commu-post-detail__username {
  margin-right: 10px;
}

.commu-post-detail__datetime {
  font-size: 14px;
  vertical-align: text-bottom;
}

.commu-post-detail__view-and-like-box,
.commu-post-detail__view-box,
.commu-post-detail__like-box {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.commu-post-detail__view {
  margin: 0 10px 0 5px;
}

.commu-post-detail__like {
  margin-left: 3px;
}

.commu-post-detail__icon-box {
  text-align: right;
  font-size: 20px;
  position: relative;
}

.commu-post-detail__icon {
  cursor: pointer;
  
}

.commu-post-detail__menu {
  position:absolute;
  right:-70px;
  top:20px;
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 80px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

.commu-post-detail__menu--edit,
.commu-post-detail__menu--delete {
  border:none;
  background-color: white;
  color:rgba(0,0,0,0.5);
  height:40px;
}

.commu-post-detail__menu--edit {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.commu-post-detail__content-box {
  margin-bottom: 70px;
}

.commu-post-detail__content-box p {
  line-height: 1.5em;
}

.commu-post-detail__content-box img {
  max-width: 800px;
}

.commu-post-detail__button--go-list-box {
  height: 70px;
  margin: 20px 0px;
  text-align: center;
}

.commu-post-detail__button--go-list {
  width: 60px;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgb(83, 212, 92);
  font-size:12px;
  border-radius: 20px;
  border: none;
  padding: 10px;
  color:white;
}