* {
  margin: 0
}

/* 공통 */
.button {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgb(83, 212, 92);
  font-size:14px;
  border-radius: 20px;
  border: none;
  padding: 10px;
  color:white;
}

.community-page {
  position:relative;
}
/* 헤더 */

.com-header {
  width: 1500px;
  height: 300px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  /* background-color: rgb(255, 233, 192); */
  background-image:  
  url('../../public/background_img/backimg2.png'),
  url('../../public/background_img/backimg3.png'),
   url('../../public/background_img/back3.jpg');
  background-size: 50px 50px , 70px 70px, 1502px 300px;
  background-repeat:no-repeat;
  background-position: 30% 23% ,90% 80%, 20% 170%;
  position: relative;
  transform: translateX(-16%);
  z-index: 2;
  /* border-radius: 40px; */
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
.com-header img{
  /* width: 270px;
  height: 270px; */
  width: 0px;
  height: 0px;
  position: absolute;
  top: 11%;
  left: 60%;
}

/* .commu-header-title {
  position: absolute;
  top: 60%;
  left: 19%;
} */
.com-header__title {
  color: rgb(112, 112, 112);
  font-size: 50px;
  position: absolute;
  top: 120px;
  left: 240px;

}
.com-header__title--detail {
  margin-top: 20px;
  font-size: 20px;
  line-height: 27px;
  color: rgb(112, 112, 112);
}


/* 카테고리 */
.commu-category-box {
  width:100%;
  margin: 30px auto;
  text-align: center;
}

.commu-category__button {
  width:33%;
  border:none;
  /* border-bottom: 3px solid rgba(0,0,0,0.2); */
  background-color: transparent;
  padding: 20px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: rgb(40, 40, 40);
}

.commu-category__button--selected {
  border-bottom: 3px solid rgb(83, 212, 92);
}

/* 검색창, 글쓰기 버튼 */
.commu-search-and-go-write-box {
  display: flex;
  align-items: center;
  margin: 100px 0 15px;
}

.commu-search-box {
  width: 50%;
  display: flex;
  align-items: center;
}

.commu-search-box__button {
  width: 65px;
}

.commu-search-box--except-button {
  display: flex;
  height: 35px;
  margin-right: 10px;
  border: 2px solid #c4c4c4;
  border-radius: 20px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
}

.commu-search-box__option, .commu-search-box__input {
  box-sizing: border-box;
  background-color: transparent;
  padding: 5px;
  border: none;
  outline: none;
}

.commu-go-write-box {
  width:100%;
  text-align: right;
}

.commu-go-write-box__button {
  width: 64px;
  border-radius: 0;
}

/* 게시글 목록 */
.commu-post-list-box{
  width: 100%;
  margin: 10px 0;
  list-style: none;
  padding-left: 0;
}

.commu-post-list {
  width: 100%;
  height: 180px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  font-size: 14px;
}

.commu-post-list:first-child {
  border-top: 1px solid rgba(0,0,0,0.5);
}

.commu-post-list__thumbnail {
  width: 160px;
  height: 160px;
  margin: 0 20px 0 0;
  background-size: cover;
  background-position: center;
}

.commu-post-list__info-box {
  width:100%;
  height: 160px;
}

.commu-post-list__title-and-content-and-datetime {
  display: flex;
  width: 100%;
  height:70%;
}

.commu-post-list__title-and-content {
  width: 80%;
  padding: 20px 0 0 0;
}

.commu-post-list__title-and-content > a {
  text-decoration: none;
}

.commu-post-list__title {
  max-width: 90%;
  margin-bottom: 15px;
  font-size: 23px;
  font-weight: 500;
  color: rgb(83, 212, 92);
  overflow: hidden;
  display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.commu-post-list__content {
  max-width: 95%;
  line-height: 1.5em;
  font-size: 16px;
  font-weight: 400;
  color: black;
  overflow: hidden;
  display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.commu-post-list__content a {
  text-decoration: none;
  color:black;
}
.commu-post-list__content span {
  color:black !important;
  background-color: white !important;
}
.commu-post-list__content li:not(.ql-direction-rtl)::marker {
  margin-left: -1.5em;
  margin-right: 0.3em;
  text-align: right;
}
.commu-post-list__content ol {
  list-style: decimal;
  padding-left: 1.5em;
}
.commu-post-list__content ul {
  list-style: disc;
}

.commu-post-list__datetime {
  width: 20%;
  text-align: center;
  padding-top: 55px;
}

.commu-post-list__datetime--date,
.commu-post-list__datetime--time {
  line-height: 1.2em;
}

.commu-post-list__detail {
  width:100%;
  height:30%;
  display: flex;
  align-items: end;
  font-size: 13px;
}

.commu_post-list__detail--userinfo {
  width: 72%;
  display: flex;
  align-items:end;
}

/* .commu-post-list__detail--userinfo__img-box {
  border-radius: 50%;
  margin-right: 5px;
  height: 40px;
}

.commu-post-list__detail--userinfo__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
} */

.commu_post-list__detail--attention {
  display: flex;
  justify-content: space-between;
  width:28%;
}

.commu-post-list__icon {
  font-size:15px;
  margin-right: 5px;
}

.commu-post-list__view,
.commu-post-list__like,
.commu-post-list__comment {
  display: flex;
  align-items: center;
  width: 33%;
  margin-left:10px;
}

