* {
  box-sizing: border-box;
}

.wrap {
  width: 100vw;
  height: 90vh;
  /* background-image: url('../../../server/public/backgroundimg/main_icon1.png'), url('../../../server/public/backgroundimg/main_icon2.png'), url('../../../server/public/backgroundimg/main_icon3.png') ; */
  /* background-repeat: no-repeat;
  background-size:  200px 200px, 200px 200px, 200px 200px ;
  background-position: 25% 60%, 50% 60%, 75% 60%; */
}

.Main {
  min-height: calc(100% - 30px);
  width: 80%;
  height: 90vh;
  margin: 30px auto;
  margin-top: 10vh;
  margin-bottom: 0;
  display: flex;
  /* background-image: url('../../../server/public/backgroundimg/planet.png');
  background-repeat: no-repeat;
  background-size: 400px 400px;
  background-position: ; */
}

.Main .LeftSection {
  width: 25%;
  margin: 0 30px;
}
.Main .RightSection {
  width: 75%;
  display: flex;
  height: 330px;
}

.Main .LeftSection .login_box {
  height: 30%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
}
.Main .LeftSection .cloud_box {
  height: 140px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
}
.Main .RightSection .CommunityBox {
  width: 50%;
  height: 140px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
}
.Main .RightSection .news_box {
  width: 50%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
}

.Main2 img {
  position: fixed;
  top: 10vh;
  right: 0;
  width: 60%;
  height: 90vh;
}

/* 로그인 */
.login_box button {
  background-color: rgb(83, 212, 92);
  border-radius: 20px;
  border: none;
  font-size: 12px;
  color: white;
  padding: 10px;
  margin: 0 15px;
}

.login_box input {
  border: 2px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 8px;
  padding-left: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
  width: 150px;
  height: 40px;
}

.login_box input:hover,
.login_box input:focus {
  border: 2px solid rgb(83, 212, 92);
  box-sizing: border-box;
  border-radius: 20px;
  outline: 3px solid #ffffff;
}

.login_button_area {
  display: flex;
  justify-content: center;
}

/* 워드클라우드 이미지 다운로드 버튼 */
.wc_download {
  width: 130px;
  background-color: rgb(83, 212, 92);
  border-radius: 20px;
  border: none;
  font-size: 12px;
  color: white;
  padding: 10px;
}

/* --------------뉴스-------------- */
.news_box {
  font-size: 13px;
  margin-left: 10px;
  padding-left: 0px;
  padding-top: 5px;
}

.news_box > a:link {
  font-size: 16px;
  color: black;
  text-decoration-line: none;
}

.news_box > a:hover {
  font-weight: bolder;
}

.news_box > a:visited {
  color: black;
}

.news_box ul {
  margin: 0 auto;
  padding: 15px;
}

.news_box li {
  margin-left: 5px;
  margin-bottom: 5px;
  display: flex;
  text-align: left;
}

.news_box li img {
  cursor: pointer;
  margin-right: 10px;
  width: 15%;
  height: 50px;
}

.news_box li a {
  width: 85%;
}

.news_box li a:link {
  color: rgb(0, 0, 0);
  text-decoration-line: none;
}

.news_box li a:hover {
  font-weight: bolder;
}

.news_box li a:visited {
  color: rgb(190, 190, 190);
}
/* --------------뉴스 끝-------------- */
