* {
  box-sizing: border-box;
}

.Main {
  width: 80%;
  margin: 30px auto;
  display: flex;
}

.Main .LeftSection {
  width: 25%;
  margin: 0 30px;
}
.Main .RightSection {
  width: 75%;
  display: flex;
  height: 330px;
}

.Main .LeftSection .LoginBox {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
}
.Main .LeftSection .CloudBox {
  height: 140px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
}
.Main .RightSection .CommunityBox {
  width: 50%;
  height: 140px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
}
.Main .RightSection .NewsBox {
  width: 50%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
}

/* 로그인 */
.LoginBox button {
  background-color: rgb(83, 212, 92);
  border-radius: 20px;
  border: none;
  font-size: 12px;
  color: white;
  padding: 10px;
}

.LoginBox input {
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
  height: 40px;
}

.LoginBox input:hover,
.LoginBox input:focus {
  border: 2px solid rgb(83, 212, 92);
  box-sizing: border-box;
  border-radius: 20px;
  outline: 3px solid #ffffff;
}

.loginButtonArea {
  display: flex;
  justify-content: space-evenly;
}

/* 워드클라우드 이미지 다운로드 버튼 */
.wcDownload {
  width: 130px;
  background-color: rgb(83, 212, 92);
  border-radius: 20px;
  border: none;
  font-size: 12px;
  color: white;
  padding: 10px;
}

/* --------------뉴스-------------- */
.NewsBox {
  font-size: 13px;
  margin-left: 10px;
  padding-left: 0px;
  padding-top: 5px;
}

.NewsBox > a:link {
  font-size: 16px;
  color: black;
}

.NewsBox > a:hover {
  font-weight: bolder;
}

.NewsBox > a:visited {
  color: black;
}

.NewsBox ul {
  margin: 0 auto;
  padding: 15px;
}

.NewsBox li {
  margin-left: 5px;
  margin-bottom: 5px;
  display: flex;
  text-align: left;
}

.NewsBox li img {
  cursor: pointer;
  margin-right: 10px;
  width: 15%;
  height: 50px;
}

.NewsBox li a {
  width: 85%;
}

.NewsBox li a:link {
  color: rgb(0, 0, 0);
  text-decoration-line: none;
}

.NewsBox li a:hover {
  font-weight: bolder;
}

.NewsBox li a:visited {
  color: rgb(190, 190, 190);
}
/* --------------뉴스 끝-------------- */
