/* 전체 div */
.newsPage {
  margin: 0 auto;
}

/* 상단 NEWS FEED */
.newsPage h1 {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 3px 4px 4px gray;
}

/* 상단, 페이지네이션에 적용됨 */
a:link {
  color: rgb(83, 212, 92);
  text-decoration-line: none;
}

/* 상단, 페이지네이션에 적용됨 */
a:visited {
  color: rgb(83, 212, 92);
}

/* 검색, 정렬 있는 줄 */
.searchLine {
  display: flex;
  justify-content: space-between;
  width: 850px;
  height: 40px;
  margin: 0 auto;
}

/* 검색 div */
.search {
  margin-bottom: 30px;
}

/* 검색 인풋 */
.search input {
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  margin-right: 10px;
  margin-bottom: 0;
  height: 40px;
}

.search input:hover,
.search input:focus {
  border: 2px solid rgb(83, 212, 92);
  box-sizing: border-box;
  border-radius: 20px;
  outline: 3px solid #ffffff;
}

/* 검색 버튼 */
.search button {
  width: 60px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgb(83, 212, 92);
  font-size: 14px;
  border-radius: 20px;
  border: none;
  padding: 10px;
  color: white;
  margin-right: 10px;
}

/* 정렬기능 */
.sorted {
  width: 130px;
  height: 40px;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 6px 6px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}

.sorted:hover {
  border: 2px solid rgb(83, 212, 92);
  box-sizing: border-box;
  border-radius: 20px;
  outline: 3px solid #ffffff;
}

/* 뉴스 목록 */
.newsList {
  padding: 0;
}

.newsList li {
  margin-bottom: 30px;
  display: flex;
  height: 115px;
  justify-content: center;
  width: 850px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* 뉴스 목록 */
.newsList li * {
  height: 100px;
  margin-right: 30px;
}

/* 뉴스 썸네일 */
.newsList li img {
  cursor: pointer;
  width: 140px;
  box-sizing: border-box;
}

/* 뉴스 제목 */
.newsList li a {
  display: flex;
  width: 300px;
  align-items: center;
  text-align: left;
  text-decoration-line: none;
}

/* 방문 전 제목 */
.newsList li a:link {
  color: rgb(0, 0, 0);
  text-decoration-line: none;
}

/* 제목 hover */
.newsList li a:hover {
  font-weight: bolder;
}

/* 방문 후 제목 */
.newsList li a:visited {
  color: rgb(190, 190, 190)
}

/* 뉴스 조회수, 날짜 */
.newsList li p {
  margin: 0px 30px 0px 0px;
  display: flex;
  width: 100px;
  /* 가로 중앙 정렬 */
  justify-content: center;
  /* 세로 중앙 정렬 */
  align-items: center;
  /* 텍스트 중앙 정렬 */
  text-align: center;
}

.likeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* 뉴스 좋아요 버튼 */
.newsList li button {
  margin: 0 auto;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px 50px 50px 50px;
}

.newsListBox {
  margin: 0 auto;
  width: 850px;
  height: 130px;
  border-bottom: 1px solid black;
}

/* 페이지네이션 */
.pagination {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li {
  list-style: none;
  margin-right: 30px;
  /* 가로 배치 */
  display: inline-block;
}

/* 페이지네이션 현재 페이지 */
.pagination .active {
  font-weight: bold;
  font-size: x-large;
}

.pagination a:link {
  color: black;
}

.pagination a:hover {
  color: rgb(83, 212, 92);
}

