/* 전체 div */
.news_page {
  margin: 0 auto;
}

/* 상단 NEWS FEED */
.news_page h1 {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 3px 4px 4px gray;
}

.news_page a:link {
  color: rgb(83, 212, 92);
  text-decoration-line: none;
}

.news_page a:visited {
  color: rgb(83, 212, 92);
}

/* 검색, 정렬 있는 줄 */
.news-search-box-line {
  display: flex;
  justify-content: space-between;
  width: 850px;
  height: 40px;
  margin: 0 auto;
}

/* 검색 div */
.news-search-box {
  margin-bottom: 30px;
}

/* 검색 인풋 */
.news-search-box input {
  border: 2px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 8px;
  padding-left: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  margin-right: 10px;
  margin-bottom: 0;
  height: 40px;
}

.news-search-box input:hover,
.news-search-box input:focus {
  border: 2px solid rgb(83, 212, 92);
  box-sizing: border-box;
  border-radius: 20px;
  outline: 3px solid #ffffff;
}

/* 검색 버튼 */
.news-search-box button {
  width: 60px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgb(83, 212, 92);
  font-size: 14px;
  border-radius: 20px;
  border: none;
  padding: 10px;
  color: white;
  margin-right: 10px;
}

/* 정렬기능 */
.news-sorted {
  width: 130px;
  height: 40px;
  border: 2px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 6px 6px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}

.news-sorted:hover {
  border: 2px solid rgb(83, 212, 92);
  box-sizing: border-box;
  border-radius: 20px;
  outline: 3px solid #ffffff;
}

/* 뉴스 목록 */
.news-list {
  padding: 0;
}

.news-list-box li {
  margin-bottom: 30px;
  display: flex;
  height: 115px;
  justify-content: center;
  width: 850px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.news-list-box {
  margin: 0 auto;
  width: 850px;
  height: 130px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* 뉴스 목록 */
.news-list-box li * {
  height: 100px;
  margin-right: 30px;
}

/* 뉴스 썸네일 */
.news-list-box li img {
  cursor: pointer;
  width: 140px;
  box-sizing: border-box;
}

/* 뉴스 제목 */
.news-list-box li a {
  display: flex;
  width: 300px;
  align-items: center;
  text-align: left;
  text-decoration-line: none;
}

/* 방문 전 제목 */
.news-list-box li a:link {
  color: rgb(0, 0, 0);
  text-decoration-line: none;
}

/* 제목 hover */
.news-list-box li a:hover {
  font-weight: bolder;
}

/* 방문 후 제목 */
.news-list-box li a:visited {
  color: rgb(190, 190, 190);
}

/* 뉴스 조회수, 날짜 */
.news-list-box li p {
  margin: 0px 30px 0px 0px;
  display: flex;
  width: 100px;
  /* 가로 중앙 정렬 */
  justify-content: center;
  /* 세로 중앙 정렬 */
  align-items: center;
  /* 텍스트 중앙 정렬 */
  text-align: center;
}

/* 뉴스 좋아요 버튼 */
.news-list-box li button {
  margin: 0 auto;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px 50px 50px 50px;
}

.news-like__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
